<div {{ fn('bs_render_attributes', a) }}
  style="{{ fn('bs_render_variables', a) }}"
  class="blockstudio-test__block"
  id="{{ b.name|replace({'/': '-'}) }}">
  <h1>ID: {{ b.name|replace({'/': '-'}) }}</h1>
  <h2>Post ID: {{ postId }}</h2>
  {% if fn('function_exists', 'get_field') %}
    <h2>Post Meta: {{ fn('get_field', 'test_text', b.postId) }}</h2>
  {% endif %}
  <div class="blockstudio-test__block-fields">
    <h1>Message Inside: {{ fn('bs_get_group', a, 'group').message }}</h1>
    <h2>Message Outside: {{ a.message }}</h2>
  </div>
  <code>Attributes: {{ a|json_encode }}</code>
  <code>Block: {{ b|json_encode }}</code>
</div>
